.Loading{
    position: fixed;
    left: 0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.8);
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;
    &.visible{
        display: flex;
    }

    .Loading__Progress{
        width: 60%;
        box-shadow: rgba(0,0,0,.7) 0 0 10px;
        .Card {
            margin: 0;
        }
        .Progress{
            position: relative;
            height: 40px;
            overflow: hidden;

            &-progress{
              position: absolute;
              left:0; top:0;
              border-radius: 0;
            }
            .Progress__Description{
                width:100%;
                height: 100%;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                color: #fff;
            }
        }
        
    }
}